.container {
  display: grid; 
}

.top {
  grid-area: header;
  grid-row-start: header-start;
  grid-row-end: header-end;
}
.bottom { 
  grid-area: footer;
  grid-row-start: footer-start;
  grid-row-end: footer-end;
}
.name {
}

article {
  display: grid;
  grid-area: main;
  grid-row-start: main-start;
  grid-row-end: main-end;
}
img {
  height: 85vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.sidebar {
  grid-area: sidebar;
}
.extra {
  grid-area: extra;
} 

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "sidebar main main extra"
    "footer footer footer footer";
  grid-template-rows: [header-start] 35% [header-end main-start] 45% [main-end footer-start] 20% [footer-end];
}

