.container {
  display: grid; 
}

.top {
  grid-area: header;
}
.bottom {
  margin-bottom:1fr;
}
.name {
  grid-area: footer;
}

article {
  display: grid;
  grid-area: main;
}
img {
  height: 85vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.sidebar {
  grid-area: sidebar;
}
.extra {
  grid-area: extra;
} 

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "sidebar main main extra"
    "footer footer footer footer";
  grid-template-rows: [header-start] 40% [header-end main-start] 35% [main-end footer-start] 25% [footer-end];
}

