.container {
  display: grid; 
}

.top {
  margin-top:3fr;
}
.bottom {
  margin-bottom:1fr;
}
.name {
  text-align: center;
}
article {
  display: grid;
}
img {
  height: 85vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
