body {
  /* width: 100vw;
  height: 100vh; */
  background-color:#000;
}
.container {
  display: grid;
}
h1 {
  color:#fff; 
}
h3 {
  color: #007acc
}

.top {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 2;
}
.bottom { 
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 4;
}
.name {
  font-size: 32px;
  text-align: center;
}
.title {
  font-size: 24px;
  font-family:monospace;
  text-align: center;
}
.socialContainer {
  display: grid;
  grid-template-columns: ; 
  grid-template:
    [social-start] "extra social extra" 100fr [social-end]
    / 1fr 84px 1fr;
}
.social {
  display: grid;
  grid-area: social;
}
.githubSocial {
  max-width:84px;
  height: auto;
}

article {
  display: grid;
  grid-area: main;
  grid-row-start: 2;
  grid-row-end: 3;
}
img {
  height: 85vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.sidebar {
  grid-area: sidebar;
}
.extra {
  grid-area: extra;
} 

.container {
  display: grid;
  grid-template-columns: ; 
  grid-template:
    [header-start] "header header header header" auto [header-end]
    [main-start] "sidebar main main extra" 30fr [main-end]
    [footer-start] "footer footer footer footer" auto [footer-end]
    / 1fr 1fr 1fr 1fr;
}
