.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color:#000;
}
h1 {
  color:#fff;
}


.top {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 2;
}
.bottom { 
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 4;
}
.name {
    text-align: center;
}

article {
  display: grid;
  grid-area: main;
  grid-row-start: 2;
  grid-row-end: 3;
}
img {
  height: 85vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.sidebar {
  grid-area: sidebar;
}
.extra {
  grid-area: extra;
} 

.container {
  display: grid;
  grid-template-columns: ; 
  grid-template:
    [header-start] "header header header header" 45fr [header-end]
    [main-start] "sidebar main main extra" 30fr [main-end]
    [footer-start] "footer footer footer footer" 25fr [footer-end]
    / 1fr 1fr 1fr 1fr;
}
